@mixin bth{
    color: $white_color;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    line-height: 30px; 
    letter-spacing: 0.96px;

    border-radius: 4px;
    background: $accent_color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}