$white_color: #FFFFFF;
$main_title_color: #212121;
$gray_color: #757575;
$accent_color: #2196F3;
$footer_color: rgba(255, 255, 255, 0.60);
$team_icon_color: #AFB1B8;
$bgfooter_color: #2F303A;
$bgteam_color: #F5F4FA;